# Node dependencies
node_modules/
package-lock.json

# AWS and Terraform
.aws/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
terraform/terraform.tfvars

# Build artifacts
dist/
app.zip

# Environment variables and IDE configs
.env
.idea/
